<!DOCTYPE html>
<html lang="ko">
  <head>
    <title><%= pageTitle %></title>
    <%- include('../head') %>
    <%- include('./head') %>
  </head>
  <body>
    <%- include('../header') %>
    <main>
      <article>
        <div class="wrap">
          <%- include('./header') %>
          <section>
            <h2><%= user.uId %> (<%= user.nickName %>) 회원 상세설정</h2>
            <div class="tableWrap">
              <table>
                
              </table>
            </div>
          </section>
          <section>
            <h2>회원 그룹</h2>
            <div class="tableWrap">
              <table>
                <thead>
                  <tr>
                    <th>그룹명</th>
                    <th>권한</th>
                    <th >설정</th>
                  </tr>
                </thead>
                <tbody>
                  <form action="/admin/user/detail/<%= user.id %>" method="POST">
                    <% let i = 0 %>
                    <% userGroups.forEach(userGroup => { %>
                      <tr>
                        <td><%= userGroup.title %></td>
                        <td><input type="checkbox" name="userGroups" value="<%= userGroup.id %>"<% if (userUserGroups.find(userUserGroup => userUserGroup.userUserGroup_userGroup_ID === userGroup.id)) { %> checked<% } %>></td>
                        <% if (i === 0) { %><td rowspan="3"><button name="submit" value="userGroup">설정</button></td><% } %>
                      </tr>
                      <% i ++ %>
                    <% }) %>
                  </form>
                </tbody>
              </table>
            </div>
          </section>
        </div>
      </article>
    </main>
    <%- include('../footer') %>
  </body>
</html>