<!DOCTYPE html>
<html lang="ko">
  <head>
    <title><%= pageTitle %></title>
    <%- include('./head') %>
    <meta property="og:url" content="<%= setting.siteDomain %>/findPassword/email">
    <link rel="canonical" href="<%= setting.siteDomain %>/findPassword/email">
    <link rel="stylesheet" href="/stylesheets/authentication.css">
    <style>
      [data-theme='dark'] article input {
        color: rgba(255, 255, 255, 0.7);
        background-color: rgba(255, 255, 255, 0.1);
      }
    </style>
  </head>
  <body>
    <%- include('./commons') %>
    <%- include('./header') %>
    <main>
      <h1>비밀번호 찾기</h1>
      <form action="/findPassword/email" method="POST">
        <div><input type="text" name="email" placeholder="이메일"></div>
        <div><button>이메일 발송</button></div>
      </form>
    </main>
    <%- include('./footer') %>
  </body>
</html>