<!DOCTYPE html>
<html lang="ko">
  <head>
    <title><%= pageTitle %></title>
    <%- include('./head') %>
    <meta property="og:url" content="<%= setting.siteDomain %>/emailAuthentication">
    <link rel="canonical" href="<%= setting.siteDomain %>/emailAuthentication">
    <link rel="stylesheet" href="/stylesheets/authentication.css">
  </head>
  <body>
    <%- include('./commons') %>
    <%- include('./header') %>
    <main>
      <h1>아이디 찾기</h1>
      <div><%= result.nickName %> 님 아이디는 <%= result.uId %> 입니다</div>
    </main>
    <%- include('./footer') %>
  </body>
</html>