<!DOCTYPE html>
<html lang="ko">
  <head>
    <title><%= pageTitle %></title>
    <%- include('./head') %>
    <meta property="og:url" content="<%= setting.siteDomain %>/findId/sms/verify">
    <link rel="canonical" href="<%= setting.siteDomain %>/findId/sms/verify">
    <link rel="stylesheet" href="/stylesheets/authentication.css">
  </head>
  <body>
    <%- include('./commons') %>
    <%- include('./header') %>
    <main>
      <h1>아이디 찾기</h1>
      <form action="/findId/sms/verify" method="POST">
        <div><input type="text" name="verifyNumber" placeholder="인증번호"></div>
        <div><button>인증하기</button></div>
      </form>
    </main>
    <%- include('./footer') %>
  </body>
</html>