<!DOCTYPE html>
<html lang="ko">
  <head>
    <title><%= pageTitle %></title>
    <%- include('./head') %>
    <meta property="og:url" content="<%= setting.siteDomain %>/emailAuthentication">
    <link rel="canonical" href="<%= setting.siteDomain %>/emailAuthentication">
    <link rel="stylesheet" href="/stylesheets/authentication.css">
    <style>
      [data-theme='dark'] article input {
        color: rgba(255, 255, 255, 0.7);
        background-color: rgba(255, 255, 255, 0.1);
      }
    </style>
  </head>
  <body>
    <%- include('./commons') %>
    <%- include('./header') %>
    <main>
      <h1>아이디 찾기</h1>
      <form action="/findId/sms" method="POST">
        <div><input type="text" name="phoneNumber" placeholder="휴대폰 번호"></div>
        <div><button>문자 발송</button></div>
      </form>
    </main>
    <%- include('./footer') %>
  </body>
</html>