<!DOCTYPE html>
<html lang="ko">
  <head>
    <title><%= pageTitle %></title>
    <%- include('./head') %>
    <meta name="description" content="<%= setting.siteDescription %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= setting.siteName %>">
    <meta property="og:description" content="<%= setting.siteDescription %>">
    <meta property="og:url" content="<%= setting.siteDomain %>/terms">
    <link rel="canonical" href="<%= setting.siteDomain %>/terms">
  </head>
  <body>
    <%- include('./commons') %>
    <%- include('./header') %>
    <main>
      <%- include('./aside', { mobile: false }) %>
      <article>
        <%- include('./title', { title: '이용약관' }) %>
        <section>
          <%- setting.terms %>
        </section>
      </article>
      <%- include('./aside', { mobile: true }) %>
    </main>
    <%- include('./footer') %>
  </body>
</html>