



<!DOCTYPE html>
<html lang="ko">
  <head>
    <title><%= pageTitle %></title>
    <%- include('../head') %>
    <meta property="og:url" content="<%= setting.siteDomain %>/alarm">
    <link rel="canonical" href="<%= setting.siteDomain %>/alarm">
    <link rel="stylesheet" href="/stylesheets/user/message.css">
    <style>
      [data-theme='dark'] #alarm h1 {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.1);
      }
      [data-theme='dark'] #alarm .item {
        color: rgba(255, 255, 255, 0.7);
        background-color: rgba(255, 255, 255, 0.3);
      }
      [data-theme='dark'] #alarm .item a {
        color: rgba(255, 255, 255, 0.7);
      }
      [data-theme='dark'] #alarm .read {
        color: rgba(255, 255, 255, 0.7);
        background-color: rgba(255, 255, 255, 0.1);
      }
    </style>
  </head>
  <body>
    <%- include('../commons') %>
    <%- include('../header') %>
    <main>
      <%- include('../aside', { mobile: false }) %>
      <article id="alarm">
        <h1>알림</h1>
        <section class="items">
          <% locals.alarms.forEach(a => { %>
            <div class="item<% if (a.status === 2) { %> read<% } %>">
              <div>
                <div class="info"><%= a.datetime %></div>
                <div><a href="<%= a.link %>"><%= a.content %></a></div>
              </div>
              <div class="status">
                <% if (a.status === 1) { %>
                새 알림
                <% } else if (a.status === 2) { %>
                읽음
                <% } %>
              </div>
            </div>
          <% }) %>
        </section>
      </article>
      <%- include('../aside', { mobile: true }) %>
    </main>
    <%- include('../footer') %>
  </body>
</html>