<!DOCTYPE html>
<html lang="ko">
  <head>
    <title><%= pageTitle %></title>
    <%- include('../head') %>
    <meta property="og:url" content="<%= setting.siteDomain %>/message/send">
    <link rel="canonical" href="<%= setting.siteDomain %>/message/send">
    <link rel="stylesheet" href="/stylesheets/user/message.css">
    <style>

      [data-theme='dark'] #message h1 {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.1);
      }
      [data-theme='dark'] #message .buttons a {
        color: rgba(255, 255, 255, 0.7);
        background-color: rgba(255, 255, 255, 0.1);
      }
      [data-theme='dark'] #message .buttons a:hover,
      [data-theme='dark'] #message .buttons a:active {
        background-color: rgba(255, 255, 255, 0.2);
      }
      [data-theme='dark'] #message input {
        color: rgba(255, 255, 255, 0.7);
        background-color: rgba(255, 255, 255, 0.1);
      }
      [data-theme='dark'] #message .content {
        color: rgba(255, 255, 255, 0.7);
        background-color: rgba(255, 255, 255, 0.1);
      }
      [data-theme='dark'] #message textarea {
        color: rgba(255, 255, 255, 0.7);
        background-color: #000;
        border: 1px solid rgba(255, 255, 255, 0.2);
      }

    </style>
  </head>
  <body>
    <%- include('../commons') %>
    <%- include('../header') %>
    <main>
      <%- include('../aside', { mobile: false }) %>
      <article id="message">
        <h1>메시지 보내기</h1>
        <div class="buttons">
          <a href="/message">메시지 목록</a>
          <% if (locals.setting.useMessage) { %>
          <a href="/message/send">메시지 보내기</a>
          <% } %>
        </div>
        <form action="/message/send" method="POST">
          <input type="text" name="keyword" value="<%= keyword %>" placeholder="아이디 또는 닉네임">
          <div class="content"><textarea name="content" placeholder="메시지 내용"></textarea></div>
          <button class="submit">보내기</button>
        </form>
      </article>
      <%- include('../aside', { mobile: true }) %>
    </main>
    <%- include('../footer') %>
  </body>
</html>